# Object files
*.o
*.ko
*.obj
*.elf

# xamarin studio preferences
*.userprefs

# prevent packages upload
[Pp]ackages

# output folders
[Bb]in
[Bb]uild
[Dd]ebug
[Rr]elease

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
